@import '/styles/vendors/include-media.scss';

.bio {
  position: absolute;
  border: solid 3px #383959;
  background: #0d0f28;
  box-shadow: 2px 2px 10px #3f4b4e;
  color: #b3b3b3;
  padding: 48px 40px 12px;
  border-radius: 16px;
  min-width: 600px;
  width: 50vw;
  line-height: 1.5;
  z-index: 3;
  left: 50%;
  top: 0px;
  transform: translate(-50%, calc(-100% - 10px));
  transition: transform .3s ease-in-out;
  &--day {
    border: solid 3px #7b9fa4;
    background: #f0ecd0;
    box-shadow: 2px 2px 10px #234f53;
    color: #022b2f;
  }
  &--down {
    transform: translate(-50%, -80%);
  }
  &--show {
    transform: translate(-50%, calc(50vh - 50%));
  }
}

.ascii {
  display: flex;
  justify-content: center;
  white-space: pre;
  font-family: monospace;
}

.close {
  position: absolute;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: none;
  right: 16px;
  top: 14px;
  &:hover {
    .close__bg {
      fill: #5f618b;
    }
    .close__bg--day {
      fill: #0d6d79;
    }
  }
  &__bg {
    fill: #3b3d5f;
    &--day {
      fill: #234f53;
    }
  }
  &__line {
    fill: #f0ecd0;
    stroke: #f0ecd0;
    stroke-miterlimit: 10;
    &--day {

    }
  }
}

@include media($media-mobile...) {
  .bio {
    min-width: 90%;
  }
}
